@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  min-width: 1280px;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header-container {
  display: flex;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -10px;
  position: relative;
  z-index: 1;
}

.navigation-list {
  width: 627px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  display: flex;
}

.navigation-link {
  box-sizing: border-box;
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-item-current {
  position: relative;
}

.navigation-item-current::after {
  content: "";
  position: absolute;
  width: calc(100% - 34px);
  border-bottom: 2px solid #756257;
  left: 0;
  top: 0;
  bottom: -1px;
  margin: 0 17px;
  z-index: 2;
}

/* Пользовательское меню  */

.navigation-user {
  width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-item-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-link-user {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}

.navigation-user .navigation-item-user:nth-child(1) .navigation-link-user{
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  padding-top: 23px;
  padding-bottom: 23px;
  margin: 0 auto;
}

.navigation-user .navigation-item-user:nth-child(2) .navigation-link-user{
  background-image: url("../images/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  padding-top: 36px;
  margin-right: 18px;
}

.navigation-user .navigation-item-user:nth-child(3) .navigation-link-user{
background-image: url("../images/header-button.svg");
background-repeat: no-repeat;
background-position: center;
height: 37px;
width: 160px;
border-radius: 4px;
padding: 9px 15px 8px;
}

.navigation-item-user:nth-child(2){
  margin-right: 19px;
}

/* Main */

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-banner {
  display: flex;
  justify-content: center;
  color: #000000;
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 83px;
}

.advantages-introduction {
  padding: 63px 273px 90px;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.sedona-city-about {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sedona-city-reasons {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.advantages {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-title-main {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-description-main {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
  text-transform: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
  text-transform: none;
  text-align: center;
  color: #000000;
}

.advantages-description-town {
  margin: 0;
  margin-top: 30px;
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.advantages-item-town {
  display: flex;
  flex-direction: row-reverse;
  grid-column-start: -1;
  grid-column-end: 1;
  grid-row-start: 1;
  height: 384px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-town::before {
  content: " ";
  background-image: url(../images/photo-1.jpg);
  height: 384px;
  width: 800px;
}

.advantages-wrapper {
  width: 400px;
}

.advantages-item-town-housing {
  grid-column-start: 1;
  grid-row-start: 2;
  width: 400px;
  /* height: 384px; */
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-town-food {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 400px;
  height: 384px;
  background-color: #FFFFFF;
}

.advantages-item-town-souvenirs {
  grid-column-start: 3;
  grid-row-start: 2;
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-canyon {
  display: flex;
  flex-direction: row-reverse;
  grid-column-start: -1;
  grid-column-end: 1;
  grid-row-start: 3;
  height: 384px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-canyon::after {
  content: " ";
  background-image: url(../images/photo-2.jpg);
  height: 384px;
  width: 800px;
}

.wrapper {
  width: 400px;
}

.advantages-item-canyon-area {
  grid-column-start: 1;
  grid-row-start: 4;
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-canyon-road {
  grid-column-start: 2;
  grid-row-start: 4;
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-canyon-quietly {
  grid-column-start: 3;
  grid-row-start: 4;
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

/* Подбор гостиниц в Седоне  */

.services {
  text-align: center;
  padding: 91px 304px 93px;
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  margin-bottom: 29px;
}

.services-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-transform: none;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.services-button {
  width: 574px;
  text-transform: uppercase;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #756157;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

/* Подпишитесь на рассылку */

.newsletter {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/background.png");
  background-color: #83B3D3;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 94px;
  padding-left: 398px;
  padding-right: 398px;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  display: flex;
  margin-top: 45px;
}

.field {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  height: 60px;
  margin-bottom: 94px;
  border: none;
  padding: 0;
  padding-left: 20px;
}

.button-newsletter {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 12px 15px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.container-form {
  display: flex;
}

/* Футер */

.page-footer {
  padding: 45px 0 35px 0;
}

.page-footer-container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 35px;
}

.footer-social {
  margin-right: 44px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin: 0;
  padding: 0;
  align-items: center;
  color: #83B3D3;
  background-color: #FFFFFF;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  margin-right: 13px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

button-social:hover {
  background: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.number {
  color: #000000;
  background-color: #FFFFFF;
}

.footer-logo {
  width: 115px;
  color: #000000;
  background-color: #FFFFFF;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
}

.modal-search {
  width: 715px;
  height: 561px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;;
  border: none;
  background-image: url(../images/modal-close\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 53px;
}

.modal-title {
  margin: 0;
  margin-top: 62px;
  margin-bottom: 63px;
  margin-left: 68px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  white-space: nowrap;
}

.search-form {
  display: grid;
  grid-template-columns: 288px 230px;
  column-gap: 56px;
  padding-left: 70px;
}

.field-group {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.search-form-date {
  grid-column: 1 / -1;
}

.search-form-departure {
  grid-column: 1 / -1;
}

.search-submit {
  width: 575px;
  height: 60px;
  border-radius: 10px;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  text-transform: uppercase;
}

.form-label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  align-items: center;
  text-transform: capitalize;
  white-space: nowrap;
}

.form-label-1 {
  margin-right: 42px;
  width: 113px;
}

.form-label-2 {
  margin-right: 36px;
  width: 119px;
}

.form-label-3 {
  margin-right: 64px;
  width: 91px;
}

.form-label-4 {
  margin-right: 43px;
  width: 54px;
}

.search-info {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-top: 11px;
  margin: 0;
  margin-bottom: 11px;
  margin-left: 225px;
  color: #FF5757;
  white-space: nowrap;
}

.search-in {
  color: #333333;
  white-space: nowrap;
}

.search-form .field-group {
  margin: 0;
}

.arrival {
  width: 420px;
  height: 50px;
  padding: 0 19px 0;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.departure {
  width: 420px;
  height: 50px;
  padding-left: 19px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.adults {
  width: 133px;
  height: 50px;
  margin-bottom: 40px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.child {
  width: 133px;
  height: 50px;
  margin-bottom: 40px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.info {
  display: none;
}
